USE [master]
GO
/****** Object:  Database [CheckOutProcess]    Script Date: 30-07-2020 07:25:24 PM ******/
CREATE DATABASE [CheckOutProcess]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CheckOutProcess', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CheckOutProcess.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CheckOutProcess_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CheckOutProcess_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CheckOutProcess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CheckOutProcess]
GO
/****** Object:  Table [dbo].[tblBasePromotions]    Script Date: 30-07-2020 07:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBasePromotions](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](50) NOT NULL,
	[SKUID] [int] NOT NULL,
	[SKUIDQuantity] [int] NOT NULL,
	[PromotionUnitPrice] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_tblActivePromotions] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCart]    Script Date: 30-07-2020 07:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[SKUID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblCart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChildPromotions]    Script Date: 30-07-2020 07:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChildPromotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NOT NULL,
	[PromotionID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSKUIDS]    Script Date: 30-07-2020 07:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSKUIDS](
	[SKUId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblSKUIDS] PRIMARY KEY CLUSTERED 
(
	[SKUId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblBasePromotions]  WITH CHECK ADD  CONSTRAINT [FK_tblActivePromotions_tblSKUIDS] FOREIGN KEY([SKUID])
REFERENCES [dbo].[tblSKUIDS] ([SKUId])
GO
ALTER TABLE [dbo].[tblBasePromotions] CHECK CONSTRAINT [FK_tblActivePromotions_tblSKUIDS]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD  CONSTRAINT [FK_tblCart_tblSKUIDS] FOREIGN KEY([SKUID])
REFERENCES [dbo].[tblSKUIDS] ([SKUId])
GO
ALTER TABLE [dbo].[tblCart] CHECK CONSTRAINT [FK_tblCart_tblSKUIDS]
GO
USE [master]
GO
